@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 250 88% 83%;
    --primary-foreground: 222 47% 11%;
    --secondary: 197 92% 92%;
    --secondary-foreground: 222 47% 11%;
    --muted: 240 55% 97%;
    --muted-foreground: 225 14% 46%;
    --accent: 205 100% 95%;
    --accent-foreground: 222 47% 11%;
    --destructive: 255 48% 74%;
    --destructive-foreground: 222 47% 11%;
    --border: 240 42% 93%;
    --input: 240 42% 93%;
    --ring: 250 88% 83%;
    --radius: 1rem;
    --chart-1: 250 88% 83%;
    --chart-2: 197 92% 80%;
    --chart-3: 221 70% 70%;
    --chart-4: 260 72% 76%;
    --chart-5: 203 82% 74%;
    --sidebar-background: 240 55% 98%;
    --sidebar-foreground: 222 47% 11%;
    --sidebar-primary: 250 88% 83%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 205 100% 95%;
    --sidebar-accent-foreground: 222 47% 11%;
    --sidebar-border: 240 42% 93%;
    --sidebar-ring: 250 88% 83%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
    --card: 0 0% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 8%;
    --popover-foreground: 210 40% 98%;
    --primary: 250 24% 62%;
    --primary-foreground: 210 40% 98%;
    --secondary: 207 20% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 215 20% 65%;
    --accent: 214 18% 24%;
    --accent-foreground: 210 40% 98%;
    --destructive: 250 18% 40%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 250 24% 62%;
    --chart-1: 250 24% 62%;
    --chart-2: 207 20% 30%;
    --chart-3: 232 14% 42%;
    --chart-4: 258 16% 50%;
    --chart-5: 204 16% 38%;
    --sidebar-background: 0 0% 8%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 250 24% 62%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 214 18% 24%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 250 24% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
